<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" data-page="address_view"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header}="" data-pageid="{$pageid}" >{$pagetitlelabel public_address view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" data-page="address_view"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" data-page="address_view" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN address_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_address_id}  r-vertical-field" 
	data-signal-error-for="address_id{$id}" {$required_attr_address_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field}="" data-pageid="{$pageid}" data-field="address_id" data-fieldname="address_id" >

	<label class="r-edit-label control-label {$address_id_label_class}" for="{$labelfor_address_id}">
		{BEGIN address_id_label}
			{$address_id_forward_control}
			{$label public_address address_id }			{END address_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$address_id_value}	</div>
	</div>


{END address_id_fieldblock}
											
{BEGIN address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_address}  r-vertical-field" 
	data-signal-error-for="address{$id}" {$required_attr_address}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1}="" data-pageid="{$pageid}" data-field="address" data-fieldname="address" >

	<label class="r-edit-label control-label {$address_label_class}" for="{$labelfor_address}">
		{BEGIN address_label}
			{$address_forward_control}
			{$label public_address address }			{END address_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$address_value}	</div>
	</div>


{END address_fieldblock}
											
{BEGIN address2_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_address2}  r-vertical-field" 
	data-signal-error-for="address2{$id}" {$required_attr_address2}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2}="" data-pageid="{$pageid}" data-field="address2" data-fieldname="address2" >

	<label class="r-edit-label control-label {$address2_label_class}" for="{$labelfor_address2}">
		{BEGIN address2_label}
			{$address2_forward_control}
			{$label public_address address2 }			{END address2_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$address2_value}	</div>
	</div>


{END address2_fieldblock}
											
{BEGIN district_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_district}  r-vertical-field" 
	data-signal-error-for="district{$id}" {$required_attr_district}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3}="" data-pageid="{$pageid}" data-field="district" data-fieldname="district" >

	<label class="r-edit-label control-label {$district_label_class}" for="{$labelfor_district}">
		{BEGIN district_label}
			{$district_forward_control}
			{$label public_address district }			{END district_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$district_value}	</div>
	</div>


{END district_fieldblock}
											
{BEGIN city_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_city_id}  r-vertical-field" 
	data-signal-error-for="city_id{$id}" {$required_attr_city_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4}="" data-pageid="{$pageid}" data-field="city_id" data-fieldname="city_id" >

	<label class="r-edit-label control-label {$city_id_label_class}" for="{$labelfor_city_id}">
		{BEGIN city_id_label}
			{$city_id_forward_control}
			{$label public_address city_id }			{END city_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$city_id_value}	</div>
	</div>


{END city_id_fieldblock}
											
{BEGIN postal_code_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_postal_code}  r-vertical-field" 
	data-signal-error-for="postal_code{$id}" {$required_attr_postal_code}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5}="" data-pageid="{$pageid}" data-field="postal_code" data-fieldname="postal_code" >

	<label class="r-edit-label control-label {$postal_code_label_class}" for="{$labelfor_postal_code}">
		{BEGIN postal_code_label}
			{$postal_code_forward_control}
			{$label public_address postal_code }			{END postal_code_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$postal_code_value}	</div>
	</div>


{END postal_code_fieldblock}
											
{BEGIN phone_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_phone}  r-vertical-field" 
	data-signal-error-for="phone{$id}" {$required_attr_phone}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6}="" data-pageid="{$pageid}" data-field="phone" data-fieldname="phone" >

	<label class="r-edit-label control-label {$phone_label_class}" for="{$labelfor_phone}">
		{BEGIN phone_label}
			{$phone_forward_control}
			{$label public_address phone }			{END phone_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$phone_value}	</div>
	</div>


{END phone_fieldblock}
											
{BEGIN last_update_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_last_update}  r-vertical-field" 
	data-signal-error-for="last_update{$id}" {$required_attr_last_update}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7}="" data-pageid="{$pageid}" data-field="last_update" data-fieldname="last_update" >

	<label class="r-edit-label control-label {$last_update_label_class}" for="{$labelfor_last_update}">
		{BEGIN last_update_label}
			{$last_update_forward_control}
			{$label public_address last_update }			{END last_update_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$last_update_value}	</div>
	</div>


{END last_update_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" data-page="address_view"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit}="" data-pageid="{$pageid}" data-small="" >
				<a  href="address_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		{mlang_message EDIT}		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
