<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" data-page="film1_edit"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header}="" data-pageid="{$pageid}" >{$pagetitlelabel film_view edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" data-page="film1_edit"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message}="" data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="film1_view.php?{$editlink}" {$view_page_button_attrs}>{mlang_message VIEW}</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" data-page="film1_edit" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN title_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_title}  r-vertical-field" 
	data-signal-error-for="title{$id}" {$required_attr_title}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field}="" data-pageid="{$pageid}" data-field="title" data-fieldname="title" >

	<label class="r-edit-label control-label {$title_label_class}" for="{$labelfor_title}">
		{BEGIN title_label}
			{$title_forward_control}
			{$label film_view title }			{END title_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$title_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="title" {$tooltipAttr film_view title } >
		<div class="text-muted" >
		{$tooltip film_view title }		</div>
	</div>
	</div>


{END title_fieldblock}
											
{BEGIN description_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_description}  r-vertical-field" 
	data-signal-error-for="description{$id}" {$required_attr_description}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1}="" data-pageid="{$pageid}" data-field="description" data-fieldname="description" >

	<label class="r-edit-label control-label {$description_label_class}" for="{$labelfor_description}">
		{BEGIN description_label}
			{$description_forward_control}
			{$label film_view description }			{END description_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$description_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="description" {$tooltipAttr film_view description } >
		<div class="text-muted" >
		{$tooltip film_view description }		</div>
	</div>
	</div>


{END description_fieldblock}
											
{BEGIN release_year_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_release_year}  r-vertical-field" 
	data-signal-error-for="release_year{$id}" {$required_attr_release_year}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2}="" data-pageid="{$pageid}" data-field="release_year" data-fieldname="release_year" >

	<label class="r-edit-label control-label {$release_year_label_class}" for="{$labelfor_release_year}">
		{BEGIN release_year_label}
			{$release_year_forward_control}
			{$label film_view release_year }			{END release_year_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$release_year_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="release_year" {$tooltipAttr film_view release_year } >
		<div class="text-muted" >
		{$tooltip film_view release_year }		</div>
	</div>
	</div>


{END release_year_fieldblock}
											
{BEGIN language_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_language_id}  r-vertical-field" 
	data-signal-error-for="language_id{$id}" {$required_attr_language_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3}="" data-pageid="{$pageid}" data-field="language_id" data-fieldname="language_id" >

	<label class="r-edit-label control-label {$language_id_label_class}" for="{$labelfor_language_id}">
		{BEGIN language_id_label}
			{$language_id_forward_control}
			{$label film_view language_id }			{END language_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$language_id_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="language_id" {$tooltipAttr film_view language_id } >
		<div class="text-muted" >
		{$tooltip film_view language_id }		</div>
	</div>
	</div>


{END language_id_fieldblock}
											
{BEGIN original_language_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_original_language_id}  r-vertical-field" 
	data-signal-error-for="original_language_id{$id}" {$required_attr_original_language_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4}="" data-pageid="{$pageid}" data-field="original_language_id" data-fieldname="original_language_id" >

	<label class="r-edit-label control-label {$original_language_id_label_class}" for="{$labelfor_original_language_id}">
		{BEGIN original_language_id_label}
			{$original_language_id_forward_control}
			{$label film_view original_language_id }			{END original_language_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$original_language_id_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="original_language_id" {$tooltipAttr film_view original_language_id } >
		<div class="text-muted" >
		{$tooltip film_view original_language_id }		</div>
	</div>
	</div>


{END original_language_id_fieldblock}
											
{BEGIN rental_duration_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rental_duration}  r-vertical-field" 
	data-signal-error-for="rental_duration{$id}" {$required_attr_rental_duration}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5}="" data-pageid="{$pageid}" data-field="rental_duration" data-fieldname="rental_duration" >

	<label class="r-edit-label control-label {$rental_duration_label_class}" for="{$labelfor_rental_duration}">
		{BEGIN rental_duration_label}
			{$rental_duration_forward_control}
			{$label film_view rental_duration }			{END rental_duration_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$rental_duration_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="rental_duration" {$tooltipAttr film_view rental_duration } >
		<div class="text-muted" >
		{$tooltip film_view rental_duration }		</div>
	</div>
	</div>


{END rental_duration_fieldblock}
											
{BEGIN rental_rate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rental_rate}  r-vertical-field" 
	data-signal-error-for="rental_rate{$id}" {$required_attr_rental_rate}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6}="" data-pageid="{$pageid}" data-field="rental_rate" data-fieldname="rental_rate" >

	<label class="r-edit-label control-label {$rental_rate_label_class}" for="{$labelfor_rental_rate}">
		{BEGIN rental_rate_label}
			{$rental_rate_forward_control}
			{$label film_view rental_rate }			{END rental_rate_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$rental_rate_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="rental_rate" {$tooltipAttr film_view rental_rate } >
		<div class="text-muted" >
		{$tooltip film_view rental_rate }		</div>
	</div>
	</div>


{END rental_rate_fieldblock}
											
{BEGIN length_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_length}  r-vertical-field" 
	data-signal-error-for="length{$id}" {$required_attr_length}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7}="" data-pageid="{$pageid}" data-field="length" data-fieldname="length" >

	<label class="r-edit-label control-label {$length_label_class}" for="{$labelfor_length}">
		{BEGIN length_label}
			{$length_forward_control}
			{$label film_view length }			{END length_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$length_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="length" {$tooltipAttr film_view length } >
		<div class="text-muted" >
		{$tooltip film_view length }		</div>
	</div>
	</div>


{END length_fieldblock}
											
{BEGIN replacement_cost_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_replacement_cost}  r-vertical-field" 
	data-signal-error-for="replacement_cost{$id}" {$required_attr_replacement_cost}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8}="" data-pageid="{$pageid}" data-field="replacement_cost" data-fieldname="replacement_cost" >

	<label class="r-edit-label control-label {$replacement_cost_label_class}" for="{$labelfor_replacement_cost}">
		{BEGIN replacement_cost_label}
			{$replacement_cost_forward_control}
			{$label film_view replacement_cost }			{END replacement_cost_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$replacement_cost_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="replacement_cost" {$tooltipAttr film_view replacement_cost } >
		<div class="text-muted" >
		{$tooltip film_view replacement_cost }		</div>
	</div>
	</div>


{END replacement_cost_fieldblock}
											
{BEGIN rating_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rating}  r-vertical-field" 
	data-signal-error-for="rating{$id}" {$required_attr_rating}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9}="" data-pageid="{$pageid}" data-field="rating" data-fieldname="rating" >

	<label class="r-edit-label control-label {$rating_label_class}" for="{$labelfor_rating}">
		{BEGIN rating_label}
			{$rating_forward_control}
			{$label film_view rating }			{END rating_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$rating_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="rating" {$tooltipAttr film_view rating } >
		<div class="text-muted" >
		{$tooltip film_view rating }		</div>
	</div>
	</div>


{END rating_fieldblock}
											
{BEGIN last_update_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_last_update}  r-vertical-field" 
	data-signal-error-for="last_update{$id}" {$required_attr_last_update}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10}="" data-pageid="{$pageid}" data-field="last_update" data-fieldname="last_update" >

	<label class="r-edit-label control-label {$last_update_label_class}" for="{$labelfor_last_update}">
		{BEGIN last_update_label}
			{$last_update_forward_control}
			{$label film_view last_update }			{END last_update_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$last_update_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="last_update" {$tooltipAttr film_view last_update } >
		<div class="text-muted" >
		{$tooltip film_view last_update }		</div>
	</div>
	</div>


{END last_update_fieldblock}
											
{BEGIN special_features_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_special_features}  r-vertical-field" 
	data-signal-error-for="special_features{$id}" {$required_attr_special_features}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11}="" data-pageid="{$pageid}" data-field="special_features" data-fieldname="special_features" >

	<label class="r-edit-label control-label {$special_features_label_class}" for="{$labelfor_special_features}">
		{BEGIN special_features_label}
			{$special_features_forward_control}
			{$label film_view special_features }			{END special_features_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$special_features_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="special_features" {$tooltipAttr film_view special_features } >
		<div class="text-muted" >
		{$tooltip film_view special_features }		</div>
	</div>
	</div>


{END special_features_fieldblock}
											
{BEGIN fulltext_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fulltext}  r-vertical-field" 
	data-signal-error-for="fulltext{$id}" {$required_attr_fulltext}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12}="" data-pageid="{$pageid}" data-field="fulltext" data-fieldname="fulltext" >

	<label class="r-edit-label control-label {$fulltext_label_class}" for="{$labelfor_fulltext}">
		{BEGIN fulltext_label}
			{$fulltext_forward_control}
			{$label film_view fulltext }			{END fulltext_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$fulltext_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="fulltext" {$tooltipAttr film_view fulltext } >
		<div class="text-muted" >
		{$tooltip film_view fulltext }		</div>
	</div>
	</div>


{END fulltext_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" data-page="film1_edit"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
{END save_edit}
	 
		{BEGIN save_update}
<span data-itemtype="update_records" data-itemid="update_records" {$item_update_records}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
				 
			{$update_records_label}	
			</a>
</span>
{END save_update}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							{mlang_message CANCEL}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger}="" data-pageid="{$pageid}" data-small="" data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN reset_button}
	<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset}="" data-pageid="{$pageid}" data-small="" >
				<a  {$resetbutton_attrs}  title="" >
				
		{mlang_message RESET}		
		</a>
	</li>
{END reset_button}
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view}="" data-pageid="{$pageid}" data-small="" >
				<a  href="film1_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		{mlang_message VIEW}		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
